# For Loop Gauntlet

The goal of this assignment is to make you a master of utilizing "for" loops.
Complete all the "for" loop challenges on the paper. Please read each challenge
carefully and make sure that your "for" loops display exactly what is asked. If
you finish them all, try the bonus challenge.

## Single for-loops

Write a for loop to do each the following

Display all numbers from 0 to 100

In [8]:
# Display all numbers from 0 to 100
for i in range(0, 101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Display all numbers from 100 to 0

In [30]:
# Display all numbers from 100 to 0 
for i in range(100, -1, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

Display all even numbers from 2 to 100

In [31]:
# Display all even numbers from 2 to 100  
for i in range(2, 101, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Display all odd numbers from 1 to 99

In [33]:
# Display all odd numbers from 1 to 99
for i in range(1, 101, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

Display all numbers from 1 to 40. if the number is odd, print "odd" next to the number. if the number is even, print "even" next to the number.  
eg:  
 1 is odd  
 2 is even  
 3 is odd  
 4 is even  
 5 is odd...etc.

In [38]:
for i in range(1, 41):
    if i % 2 ==0:
        print(str(i)+' is even')
    else:
        print(str(i)+' is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even

In [39]:
# Display all numbers from 1 to 500.
for i in range(1, 501):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500

Display all multiples of 7 from 0 to 70

In [42]:
for i in range(0, 71):
    if i % 7 == 0:
        print(i)

0
7
14
21
28
35
42
49
56
63
70

In [44]:
# Display all multiples of 7 from 0 to 777
for i in range(0, 784):
    if i % 7 == 0:
        print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196
203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315
322
329
336
343
350
357
364
371
378
385
392
399
406
413
420
427
434
441
448
455
462
469
476
483
490
497
504
511
518
525
532
539
546
553
560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777

Print all the years you were alive and how old you were in each. e.g. "in 1979, i was 2 years old." (for a really old person)

In [ ]:
# Your Code Here
start=1900
current=2025
space=' '

for i in range(start, current):
    sentence='In' + space + str(i) + ',' + space + 'someone born in' + space + str(start) + space + 'is' + space + str(i-start) + space + 'years old.'
    print(sentence)

In 1900, someone born in 1900 is 0 years old.
In 1901, someone born in 1900 is 1 years old.
In 1902, someone born in 1900 is 2 years old.
In 1903, someone born in 1900 is 3 years old.
In 1904, someone born in 1900 is 4 years old.
In 1905, someone born in 1900 is 5 years old.
In 1906, someone born in 1900 is 6 years old.
In 1907, someone born in 1900 is 7 years old.
In 1908, someone born in 1900 is 8 years old.
In 1909, someone born in 1900 is 9 years old.
In 1910, someone born in 1900 is 10 years old.
In 1911, someone born in 1900 is 11 years old.
In 1912, someone born in 1900 is 12 years old.
In 1913, someone born in 1900 is 13 years old.
In 1914, someone born in 1900 is 14 years old.
In 1915, someone born in 1900 is 15 years old.
In 1916, someone born in 1900 is 16 years old.
In 1917, someone born in 1900 is 17 years old.
In 1918, someone born in 1900 is 18 years old.
In 1919, someone born in 1900 is 19 years old.
In 1920, someone born in 1900 is 20 years old.
In 1921, someone born in 1900 is 21 years old.
In 1922, someone born in 1900 is 22 years old.
In 1923, someone born in 1900 is 23 years old.
In 1924, someone born in 1900 is 24 years old.
In 1925, someone born in 1900 is 25 years old.
In 1926, someone born in 1900 is 26 years old.
In 1927, someone born in 1900 is 27 years old.
In 1928, someone born in 1900 is 28 years old.
In 1929, someone born in 1900 is 29 years old.
In 1930, someone born in 1900 is 30 years old.
In 1931, someone born in 1900 is 31 years old.
In 1932, someone born in 1900 is 32 years old.
In 1933, someone born in 1900 is 33 years old.
In 1934, someone born in 1900 is 34 years old.
In 1935, someone born in 1900 is 35 years old.
In 1936, someone born in 1900 is 36 years old.
In 1937, someone born in 1900 is 37 years old.
In 1938, someone born in 1900 is 38 years old.
In 1939, someone born in 1900 is 39 years old.
In 1940, someone born in 1900 is 40 years old.
In 1941, someone born in 1900 is 41 years old.
In 1942, someone born in 1900 is 42 years old.
In 1943, someone born in 1900 is 43 years old.
In 1944, someone born in 1900 is 44 years old.
In 1945, someone born in 1900 is 45 years old.
In 1946, someone born in 1900 is 46 years old.
In 1947, someone born in 1900 is 47 years old.
In 1948, someone born in 1900 is 48 years old.
In 1949, someone born in 1900 is 49 years old.
In 1950, someone born in 1900 is 50 years old.
In 1951, someone born in 1900 is 51 years old.
In 1952, someone born in 1900 is 52 years old.
In 1953, someone born in 1900 is 53 years old.
In 1954, someone born in 1900 is 54 years old.
In 1955, someone born in 1900 is 55 years old.
In 1956, someone born in 1900 is 56 years old.
In 1957, someone born in 1900 is 57 years old.
In 1958, someone born in 1900 is 58 years old.
In 1959, someone born in 1900 is 59 years old.
In 1960, someone born in 1900 is 60 years old.
In 1961, someone born in 1900 is 61 years old.
In 1962, someone born in 1900 is 62 years old.
In 1963, someone born in 1900 is 63 years old.
In 1964, someone born in 1900 is 64 years old.
In 1965, someone born in 1900 is 65 years old.
In 1966, someone born in 1900 is 66 years old.
In 1967, someone born in 1900 is 67 years old.
In 1968, someone born in 1900 is 68 years old.
In 1969, someone born in 1900 is 69 years old.
In 1970, someone born in 1900 is 70 years old.
In 1971, someone born in 1900 is 71 years old.
In 1972, someone born in 1900 is 72 years old.
In 1973, someone born in 1900 is 73 years old.
In 1974, someone born in 1900 is 74 years old.
In 1975, someone born in 1900 is 75 years old.
In 1976, someone born in 1900 is 76 years old.
In 1977, someone born in 1900 is 77 years old.
In 1978, someone born in 1900 is 78 years old.
In 1979, someone born in 1900 is 79 years old.
In 1980, someone born in 1900 is 80 years old.
In 1981, someone born in 1900 is 81 years old.
In 1982, someone born in 1900 is 82 years old.
In 1983, someone born in 1900 is 83 years old.
In 1984, someone born in 1900 is 84 years old.
In 1985, someone born in 1900 is 85 years old.
In 1986, someone born in 1900 is 86 years old.
In 1987, someone born in 1900 is 87 years old.
In 1988, someone born in 1900 is 88 years old.
In 1989, someone born in 1900 is 89 years old.
In 1990, someone born in 1900 is 90 years old.
In 1991, someone born in 1900 is 91 years old.
In 1992, someone born in 1900 is 92 years old.
In 1993, someone born in 1900 is 93 years old.
In 1994, someone born in 1900 is 94 years old.
In 1995, someone born in 1900 is 95 years old.
In 1996, someone born in 1900 is 96 years old.
In 1997, someone born in 1900 is 97 years old.
In 1998, someone born in 1900 is 98 years old.
In 1999, someone born in 1900 is 99 years old.
In 2000, someone born in 1900 is 100 years old.
In 2001, someone born in 1900 is 101 years old.
In 2002, someone born in 1900 is 102 years old.
In 2003, someone born in 1900 is 103 years old.
In 2004, someone born in 1900 is 104 years old.
In 2005, someone born in 1900 is 105 years old.
In 2006, someone born in 1900 is 106 years old.
In 2007, someone born in 1900 is 107 years old.
In 2008, someone born in 1900 is 108 years old.
In 2009, someone born in 1900 is 109 years old.
In 2010, someone born in 1900 is 110 years old.
In 2011, someone born in 1900 is 111 years old.
In 2012, someone born in 1900 is 112 years old.
In 2013, someone born in 1900 is 113 years old.
In 2014, someone born in 1900 is 114 years old.
In 2015, someone born in 1900 is 115 years old.
In 2016, someone born in 1900 is 116 years old.
In 2017, someone born in 1900 is 117 years old.
In 2018, someone born in 1900 is 118 years old.
In 2019, someone born in 1900 is 119 years old.
In 2020, someone born in 1900 is 120 years old.
In 2021, someone born in 1900 is 121 years old.
In 2022, someone born in 1900 is 122 years old.
In 2023, someone born in 1900 is 123 years old.
In 2024, someone born in 1900 is 124 years old.

## Nested for-loops

Write nested for loops (a for loop inside another for loop). Here is an example of nested loops.

In [91]:
# Examples of Nested Loops

for i in range(8):
    for j in range(8):
        print(f"({i},{j})", end= ' ')
    print()

(0,0) (0,1) (0,2) (0,3) (0,4) (0,5) (0,6) (0,7)
(1,0) (1,1) (1,2) (1,3) (1,4) (1,5) (1,6) (1,7)
(2,0) (2,1) (2,2) (2,3) (2,4) (2,5) (2,6) (2,7)
(3,0) (3,1) (3,2) (3,3) (3,4) (3,5) (3,6) (3,7)
(4,0) (4,1) (4,2) (4,3) (4,4) (4,5) (4,6) (4,7)
(5,0) (5,1) (5,2) (5,3) (5,4) (5,5) (5,6) (5,7)
(6,0) (6,1) (6,2) (6,3) (6,4) (6,5) (6,6) (6,7)
(7,0) (7,1) (7,2) (7,3) (7,4) (7,5) (7,6) (7,7)

For your first nested loop, display this output:  

```
0  0  
0  1  
0  2  
1  0  
1  1  
1  2  
2  0  
2  1  
2  2
```

In [258]:
# Display the output shown above
for i in range(3):
    for j in range(3):
        print(f"{str(i)+'  '+str(j)}", end='  ')
    print()

0  0  0  1  0  2
1  0  1  1  1  2
2  0  2  1  2  2

Display the numbers 1 through 9 in a 3x3 square grid like this:  

```
1  2  3  
4  5  6  
7  8  9  
```

In [99]:
# Display the numbers 1 through 9 in a 3x3 square grid
space='  '
for i in range(3):
    for j in range(3):
        custom=1+j+i*3
        print(custom, end = ' ')
    print()
print()
print(1, 2, 3)
print(4, 5, 6)
print(7, 8, 9)

1 2 3
4 5 6
7 8 9

1 2 3
4 5 6
7 8 9

Display the numbers 1 through 100 in a 10x10 square grid.

In [106]:
# Display the numbers 1 through 100 in a 10x10 square grid.
for i in range(10):
    for j in range(10):
        custom=1+10*i+j
        print(custom, end = ' ')
    print()

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

Display the following output:  

```
*  
*  *  
*  *  *  
*  *  *  *  
*  *  *  *  *  
*  *  *  *  *  *
```

In [119]:
# Display the asterisk pattern shown above
for i in range(6):
    for j in range(6):
        custom = 1+i-j
        asterieks = custom
        print('*', end = ' ')
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *